<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body id="body" class="login-page-body">


    <div class="login-WIMH-logo-div">
        <img class="login-WIMH-logo-img" src="./img/WIMH LOGO.png" alt="not found">
    </div>
    <form action="/login" method="post" th:object="${loginRequest}">
    <div class="login-div">
        <h1 class="login-char">Login</h1>
        <input class="login-input-email " name="email" id="login-input-contact" type="email" placeholder="Email" required><br>
        <!--<button class="login-send-otp-btn" id="login-send-otp-btn" onclick="loginsendOTP()">Send OTP</button><br> -->
        <input class="login-input-password" name="password" id="login-input-otp" type="password" placeholder="Password" required><br>
        <!-- <h6 class="login-resend-otp" id="login-resend-otp">Resend OTP<span id="timer">&nbsp;00:30</span></h6><br> -->
        <div th:if="${loginError}" class="login-error-message" th:text="${loginError}"></div><br>
        <button class="login-btn" id="login-btn">Login</button><br>
        <h1 class="login-or-char">or</h1>
        <div class="login-with-google-div">

            <img class="login-with-google-img" src="./img/Continue_with_Google.png" alt="not found">

        </div>
    </div>
    <a href="/register" style="text-decoration: none;"><h6 class="dont-have-account">Don't have an account? Signup</h6></a>

</form>
</body>

<script src="./img/script.js"></script>
</html>
