<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body id="body" class="signup-page-body">
<form id="signup-form" action="/register" method="post">
    <div class="signup-page-body-div">
        <div class="signup-page-left-div">
            <div class="signup-WIMH-logo-div">
                <img class="signup-WIMH-logo-img" src="./img/WIMH LOGO.png" alt="not found">
            </div>
        </div>
        <div class="signup-page-right-div">
            <div class="signup-div">
                <h1 class="signup-char">Signup</h1>
                <input class="signup-input-name" name="name" type="text" placeholder="Name" required><br>
                <input class="signup-input-mail" name="email" type="email" placeholder="E-mail" required><br>
                <input class="signup-input-contact" name="mobileNumber" id="signup-input-contact" type="tel" placeholder="Mobile no" required><br>
                <button type="button" class="signup-send-otp-btn" id="signup-send-otp-btn" onclick="signupsendOTP()">Send OTP</button>
                <input class="signup-input-otp" name="otp1" id="signup-input-otp" type="text" placeholder="Enter OTP" required><br>
                <h6 class="signup-resend-otp" id="signup-resend-otp">Resend OTP<span id="timer">&nbsp;00:30</span></h6><br>
                <button class="signup-btn" id="signup-btn" type="submit">Signup</button><br>
                <h1 class="signup-or-char">or</h1>
                <div class="signup-with-google-div">
                    <img class="signup-with-google-img" src="./img/Continue_with_Google.png" alt="not found">
                </div>
            </div>
            <a href="/login" style="text-decoration: none;"><h6 class="already-have-account">Already have an account? Login</h6></a>
        </div>
    </div>
</form>
<script src="./js/script.js"></script>
</body>
</html>
